.categoriesSection {
  display: flex;
  /* overflow-x: hidden; */
  justify-content: center;
  background-color: var(--main-color);
}

.categoriesList {
  max-width: 1024px;
  padding: 65px 0 182px 0;
  list-style: none;
  gap: 63px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categoryImage {
  max-width: 1200px;
  position: relative;
  height: clamp(350px, 50vw, 592px);
  object-fit: cover;
}

.categoryItem:nth-child(even) .categoryLink {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  align-items: flex-end;
  text-transform: uppercase;
  position: relative;
}

.categoryItem:nth-child(odd) .categoryLink {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  text-transform: uppercase;
  align-items: flex-start;
}

.categoryItem:nth-child(odd) .categoryLink {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  text-transform: uppercase;
  align-items: flex-start;
}

.categoryItem:nth-child(odd):first-child .categoryLink::before {
  content: '';
  display: flex;
  position: absolute;
  width: 100%;
  height: 134px;
  background-color: rgba(24, 46, 73, 0.56);
  bottom: 5px;
  z-index: 2;
}
.categoryItem:nth-child(even):last-child .categoryLink::before {
  content: '';
  display: flex;
  position: absolute;
  width: 100%;
  height: 134px;
  bottom: 5px;
  background-color: rgba(24, 46, 73, 0.56);

  z-index: 2;
}
.categoryTitle {
  position: absolute;
  z-index: 22;
  color: white;
  font-size: clamp(18px, 5vw, var(--font-size-main));
  font-weight: var(--font-weight-main);
  font-family: var(--Inter);
  padding: 54px;
  padding-inline-start: clamp(124px, 5vw, 80px);
  padding-inline-end: clamp(124px, 5vw, 80px);
}

@media (max-width: 765px) {
  .categoriesList {
    gap: 50px;
    padding: 86px 0 64px 0;
  }
}
@media (max-width: 576px) {
  .categoriesList {
    gap: 50px;
    padding: 86px 0 64px 0;
  }
  .categoryTitle {
    padding: 54px;
    padding-inline-start: clamp(160px, 5vw, 80px);
    padding-inline-end: clamp(160px, 5vw, 80px);
  }
}
